<h2>Update Tweet</h2>

<%= 

    form_for :tweet_edited, "/tweets/#{tweet_edited.id}", method: :patch, values: {tweet_edited: tweet_edited} do 
            
            div class: 'input' do
                label :content
                text_area :content, {class: 'u-full-width', width: "800px"}
            end

            div class: 'controls' do
            submit 'Update Tweet', class: 'button-primary'
            end
    end

%>