<h2>Update Tweet</h2>

<%= 

    form_for :updated_tweet, "/tweets/#{updated_tweet.id}", method: :patch, values: {updated_tweet: updated_tweet} do 
    
            
            div class: 'input' do
                label :content
                text_area :content, {class: 'u-full-width', width: "800px"}
            end

            div class: 'controls' do
            submit 'Update Tweet', class: 'button-primary'
            end
    end

%>