<h2>All Tweets</h2>

<% if tweets.any? %>

<div id="tweets">

<% tweets.each do |tweet| %>
  <div class="tweet">
    <h3>tweet.username</h3>
    <p>tweet.tweet<p>
  </div>

  <div class="tweet">
    <h3>Doggo</h3>
    <p>I dont care what they say, peeing on everything is fun!</p>
  </div>
</div>

