<h2>All Tweets</h2>

<div id="tweets">
  <div class="tweet">
    <h3>Doggo</h3>
    <p>I love beef jerky!</p>
  </div>

  <div class="tweet">
    <h3>Doggo</h3>
    <p>I dont care what they say, peeing on everything is fun!</p>
  </div>
</div>

