<h2>All Tweets</h2>
  <a href="/tweets/new">Tweet</a>
<% if tweets.any? %>

<div id="tweets">

    <% tweets.each do |tweet| %>
    <div class="tweet">
    <h3><%= tweet.username %></h3>
    <p><%= tweet.content %><p>
    </div>
  <% end%>
  </div>
<% else %>  
  <p class='placeholder'>Be the first to tweet on Barkr!</p>
  <%end %>


