<h2>Got a ðŸ¦´ to pick? Tweet away!</h2>

<%=

  form_for :tweet, routes.tweets_path do
    div class: 'input' do
      label :username
      text_field :username
    end


    div class: 'input' do
      label :content
      text_field :content
    end

    div class: 'controls' do
      submit 'Send Bark ðŸ•', class: 'button-primary'
    end
  end
  
%>

<% unless params.valid? %>
  <div class="errors">
    <h3>There was a problem with your tweet</h3>
    <ul>
      <% params.error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>    
  </div>
<% end %>
