<% unless tweet.nil? %>
<div class="tweet">
    <h3><%= tweet.username %></h3>
    <p><%= tweet.content %><p>
    <span><%= tweet.created_at %></span>
    </div>

<% else%>
<p class='placeholder'>Ruh Roh, 404 </p>
<% end %>