<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
    <%= stylesheet 'normalize' %>
    <%= stylesheet 'skeleton' %>
  </head>
  <body>
    <h1>Welcome to Barkr</h1>
    <%= yield %>
  </body>
</html>
