*
{
    box-sizing: border-box;
}
   body
{
    padding: 0;
    position: relative;
    margin: 0;
    text-align: center;
}

div#main-container
{
    min-height: 100vh;
    position: relative;
}

div#content-wrapper
{
    padding-bottom: 50px;
}

nav
{
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: #212121;
    color: #fff;
    height: 65px;
}
nav h3, nav a
{
    text-align: left;
    line-height: 65px;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
}

h1#new-tweets
{
    border-bottom: solid 1px #bdbdbd;
    margin-bottom: 50px;

}

div#tweets
{
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

div.tweet
{
    text-align: left;
    border-bottom: solid 1px  #bdbdbd;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

div.tweet p
{
    font-size: 36px;
}

div#form-container
{
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 0; 

}

form
{
    padding: 15px;
    text-align: left;
}

form input
{
    width: 100%;
}

form textarea
{
    position: relative;
    min-width: 475px;
    height: 150px;
    border-radius: 5px;
    
}

.button-primary_warning
{
    background-color: #ff4444;
    color: #FFF;
}

.button-primary_edit
{
    background-color: #00C851;
    color: #FFF;
}

footer
{
    width: 100%;
    background-color: #212121;
    height: 50px;
    position: absolute;
    bottom: 0;
}
